* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: rgb(90, 89, 89) !important;
  /* text-align: justify; */
	/* color: rgb(235, 224, 224); */
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
    width:100%;
    height:100vh;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1 {
	font-size: 1.4rem;
  font-family: 'Chillax-Bold';
}

h2, h3, label{
  font-family: 'Chillax-SemiBold';
}

.h1, .h2, .h3{
  font-family: 'Chillax-bold';
}
	/* begins to set up font sizes relative to base rem – h1 has been used as an example */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
  font-family: 'CormorantGaramond-Regular', 'Supreme', sans-serif;
} 

p a{
  text-decoration: none;
  font-size: 1.2rem;
  color:darkslategray;
}

h4, h5, span{
  font-family: 'CormorantGaramond-Regular', 'Supreme', sans-serif;
}
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}

#crane{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#lazy-load-poster {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/poster.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  #myProgress {
    width: 90%;
    opacity:0.8;
    /* display:none; */
    background-color: #121823;
    position: relative;
    color:#fff;
    /* margin-top:98%; */
    border-radius: 50px;
  }

  #duration{
    position: absolute;
    right:1rem;
    top:0.5rem;
  }
  #myBar {
    width: 0%;
    /* border-radius:50px; */
    border-radius: 10px 50px 50px 10px;
    /* height: 30px; */
    background-color: #14b7b8;
  }

  #play-btn{
    font-size:2rem;
    cursor:pointer;
    color:#14b7b8;
  }
  /* #play-btn:active{
    font-size: 1.7rem;
  } */

  #play{
    background-color: #14b7b8;
    border-radius:50%;
  }

  .icones{
    font-size: 2.5rem;
    cursor:pointer;
  }
  
.switchy input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switchy {
	width: 180px;
	height: 55px;
	position: relative;
	/* margin: 100px auto; */
}

.switchy label {
	display: block;
	width: 80%;
	height: 100%;
	position: relative;
	background: #1F2736; /*#121823*/
    background: linear-gradient(#121823, #161d2b);
	border-radius: 30px 30px 30px 30px;
	box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.5),
        inset 0 1px 0 rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,0.2);
		-webkit-transition: all .5s ease;
transition: all .5s ease;

}

.switchy input ~ label i {
    display: block;
    height: 51px;
    width: 51px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    border-radius: inherit;
    background: #283446; /* Fallback */
    background: linear-gradient(#36455b, #283446);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 12px 12px rgba(0,0,0,0.4);
	-webkit-transition: all .5s ease;
transition: all .5s ease;
}


.switchy label + span {
	content: "";
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 17px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #283446; 
background: gradient-gradient(#36455b, #283446);
box-shadow:
		  inset 0 1px 0 rgba(0,0,0,0.2),
  		0 1px 0 rgba(255,255,255,0.1),
  		0 0 10px rgba(185,231,253,0),
  inset 0 0 8px rgba(0,0,0,0.9),
  inset 0 -2px 5px rgba(0,0,0,0.3),
  inset 0 -5px 5px rgba(0,0,0,0.5);
 	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
}

 /* Toggle */
.switchy input:checked ~ label + span { 
	content: "";
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
	background: #b9f3fe; 
background: gradient-gradient(#ffffff, #77a1b9);
box-shadow:        
		  inset 0 1px 0 rgba(0,0,0,0.1),
		  0 1px 0 rgba(255,255,255,0.1),
		  0 0 10px rgba(100,231,253,1),
		  inset 0 0 8px rgba( 61,157,247,0.8),
  inset 0 -2px 5px rgba(185,231,253,0.3),
  inset 0 -3px 8px rgba(185,231,253,0.5);

 }

.switchy input:checked ~ label i {
    left: auto;
    left: 63%;
	box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 8px 8px rgba(0,0,0,0.3),
		inset -1px 0 1px #b9f3fe;

	-webkit-transition: all .5s ease;
transition: all .5s ease;
}

#button-load {
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 6% 50%;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 18px 9px 40px;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
  }



  model-viewer::part(default-progress-bar) {
        height:8px;
        background-color: #0dcaf0;
    }

  /* model-viewer::part(default-progress-bar)::before {
      
  } */
/* #play:active{
  transform: scale(0.8);
} */

#champ-info_troisd{
  background-color: #121823;
  border-color: #0dcaf0;
  color:#0dcaf0;
  position:absolute;
  max-width: 15%;
  margin-top:1%;
  margin-right:1rem;
  min-height:50vh;
  opacity: 75%;
  right:0;
}

@media screen and (max-width: 1280px)
{
  #champ-info_troisd{
    display:none;
  }
}

.barrehr{
  display:none !important;
}

/* .fas:active{
  transform: scale(0.8);
} */

/* #button-load:active{
  top: 51%;
} */

.Hotspot{
  background-color: #0dcaf0;
  border-color: green !important;
}

#minusSquare{
  position:absolute;
  font-size:1.5rem;
  top:5px;
  right:5px;
}

#showSquare{
  font-size:1.5rem;
  color:#0dcaf0;
  display: none;
}

/* #showSquare:active{
  transform: scale(0.99);
}

#minusSquare:active{
  top:1%;
} */

model-viewer {
    width: 100%;
    /* height: 500px; */
    min-height:100%;
    /* border-radius: 25px 25px 25px 25px; */
    /* padding : 0 1rem 0 1rem; */
}

.displayBtn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    text-align: left;
}

i{
    text-align: center;
}

#hideSidebar, #showSideBar{
  border:none;
  background-color:#0dcaf0;
  padding:0rem 0.5rem 0 0.5rem;
}

#hideSidebar{

  right:1%;
}

#showSideBar{
  color:rgb(56, 15, 15);
  position:absolute;top:5rem;right:1rem;
}

/* #hideSidebar:active, #showSideBar:active{
  margin-top:1%;
} */

i{
  cursor:pointer;
}

#poi{
  border:none;
  background-color: #0dcaf0;
}


.view-button {
  background: rgb(36, 207, 88);
  border:none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
}

#hideTitle{
  text-align: start;
}

#time-cursor{
  width:2.8rem;
  border-radius: 50%;
  background-color: #0dcaf0;
  cursor:col-resize;
}

/* gamepad */
.d-pad {
  position: absolute;
  bottom:-100px;
  background-color: #121823;
  left: 50%;
  /* width: 225px;
  height: 300px; */
  box-sizing: border-box;
}

.d-pad .d-pad-button {
  width: 30px;
  height: 30px;
  cursor:pointer;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.700);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -15px;
  transform-origin: 15px 50px;
  transition: background-color 50ms ease-in-out;
}

.d-pad .d-pad-button:before, .gamepad .d-pad .d-pad-button:after {
  display: block;
  content: "";
}

.d-pad .d-pad-button:before {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(255, 255, 255, 0.375);
  position: absolute;
  top: 30px;
  transition: border-top-color 50ms ease-in-out;
}

.d-pad .d-pad-button:after {
  height: 6px;
  width: 6px;
  border: 3px solid rgba(0, 128, 255, 0.875);
  border-bottom-width: 0;
  border-left-width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  transform: rotate(315deg);
  transition: all 150ms;
}

.d-pad .d-pad-button.down {
  transform: rotate(180deg);
}
.d-pad .d-pad-button.left {
  transform: rotate(270deg);
}
.d-pad .d-pad-button.right {
  transform: rotate(90deg);
}
.d-pad .d-pad-button.pressed {
  background-color: rgba(0, 128, 255, 0.875);
}
.d-pad .d-pad-button.pressed:before {
  border-top-color: rgba(0, 128, 255, 0.875);
}
.d-pad .d-pad-button.pressed:after {
  border-color: rgba(255, 255, 255, 0.375);
}

.directions{
  width: 100px;
  height: 40px;
  background-color: #666;
  position: absolute;
  border-radius: 10px;
  bottom:-7rem;
  /* left:0; */
  right:-50px;
}

.directions:after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  width: 0; 
  height: 0;
}

.directions:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  width: 0; 
  height: 0;
}
.directions-horizontal:after,
.directions-vertical:after{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #777;
  transform: rotate(270deg);
}
.directions-horizontal:before,
.directions-vertical:before{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #777;
  transform: rotate(90deg);
}

